.about {
  text-align: center;
}

.aboutTitle {
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(26, 188, 156);
  margin-bottom: 20px;
}

@media screen and (max-width: 991.98px) {
  .aboutTitle{
    margin-bottom: 1.5rem;
  }
}