.icon {
  position: relative;
}

.icon a {
  text-decoration: none;
}

.icon img {
  height: 80px;
  border-radius: 50%;
  padding: 8px;
  margin: 5px;
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.5),
              12px 12px 12px 0 rgba(224, 228, 239, 0.5);
  background: linear-gradient(135deg, #eee, white);
  background-color: #eee;
}

.icon img:hover {
  animation-name: pulse;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  25% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.3);
  }

  to {
    transform: scale(1.2);
  }
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;

  /* Position */
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  font-size: 20px;
}

.icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transition: 1.5s;
  z-index: 2;
}