.content {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  max-width: 80vw;
  text-align: center;
}

@media screen and (max-width: 991.98px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 90vw;
    text-align: center;
  }

  .projectImg {
    margin-top: 10px;
  }

  .content :nth-child(1) {
    order: 2;
  }

  .content :nth-child(2) {
    order: 1;
  }

  .content :nth-child(3) {
    order: 3;
  }

  .title {
    padding: 20px;
  }
}

.button {
  background-color: white;
  padding: 10px 20px;
  border: 1px solid rgb(26, 188, 156);
  margin: 5px;
  border-radius: 10px;
}

.button:hover a {
  color: white;
  transition: 1s;
}

.fill {
  background-color: rgb(26, 188, 156);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 5px;
  border: white;
  outline: none;
}

.fill:hover {
  color: black;
  border: 1px solid black;
  background-color: white;
  transition: 1s;
  cursor: pointer;
}

.button:hover {
  color: white;
  background-color: rgb(26, 188, 156);
  cursor: pointer;
  transition: 1s;
}

.container {
  margin: 20px;
}

.title {
  padding-top: 10px;
  color: rgb(26, 188, 156);
}

.description {
  padding: 0 20px;
  text-align: left;
  font-size: 0.8em;
}

.projectImg {
  position: relative;
}

.projectImg img {
  max-height: 200px;
  border-radius: 10px;

}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  background-color: rgb(26, 188, 156);
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.image {
  opacity: 1;
  display: block;
  /* width: 100%;
  height: auto; */
  transition: .5s ease;
  backface-visibility: hidden;
}

.projectImg:hover .image {
  opacity: 0.3;
}

.projectImg:hover .overlay {
  opacity: 1;
}