span {
  font-size: 48px;
  font-weight: 400;
  overflow-x: hidden;
}

.leftAlign {
  justify-self: start;
  margin-left: 15%;
}

@media screen and (max-width: 991.98px) {
  .leftAlign {
    margin: unset;
  }
}
