.button {
  background-color: white;
  padding: 10px 20px;
  border: 1px solid rgb(26, 188, 156);
  font-size: 30px;
  width: 50%;
  margin-bottom: 50px;
  outline: none;
}
.button:hover {
  color: white;
  background-color: rgb(26, 188, 156);
  cursor: pointer;
  transition: 1s;
}

.button:hover a {
  color: white;
  transition: 1s;
}

.container {
  text-align: center;
}

.button a {
  text-decoration: none;
  color: black;
}

.button a:hover {
  color: white;
}

.button img {
  margin: auto auto auto 10px;
  height: 20px;
  color: gray;
}
