.button {
  background-color: white;
  padding: 10px 20px;
  border: 1px solid rgb(26, 188, 156);
  font-size: 30px;
  width: 50%;
  margin-bottom: 50px;
  outline: none;
}
.button:hover {
  color: white;
  background-color: rgb(26, 188, 156);
  cursor: pointer;
  transition: 1s;
}

.container {
  text-align: center;
}
