.form {
  text-align: center;
}

.form input[type="text"],
.form input[type="email"] {
  border: none;
  border-bottom: 1px solid rgb(26, 188, 156);
}

.form input[type="submit"] {
  color: white;
  background-color: rgb(26, 188, 156);
  border: none;
  border-radius: 5px;
  width: 100%;
}

.form input[type="submit"]:hover {
  cursor: pointer;
}

.form > input,
.form textarea {
  padding: 5px;
  margin: 20px 0;
  display: block;
}

.form textarea {
  font-size: 1rem;
  width: 100%;
  border: 1px solid rgb(26, 188, 156);
  border-radius: 5px;
}
