.container {
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.5),
    12px 12px 12px 0 rgba(224, 228, 239, 0.5);
  border-radius: 20px;
  background-color: #fff;
  justify-items: center;
  align-items: center;
  padding: 30px;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
