.homeNav ul {
  display: inline-block;
  list-style-type: none;
}

.homeNav li {
  border-bottom: 1px solid rgb(26, 188, 156);
  padding: 6px 10px;
  margin: 5px;
  background: linear-gradient(to bottom, white 50%, rgb(26, 188, 156) 50%);
  background-size: 100% 200%;
}

.homeNav a {
  font-weight: 200;
}

.homeNav li:hover {
  color: white;
  cursor: pointer;
  background-position: bottom;
  transition: 1s;
}

.homeNav li:hover a {
  transition: 1s;
  color: white;
}

.homeNav a {
  display: block;
  color: black;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.homeNav li a:hover {
  text-decoration: none;
}

@media screen and (max-width: 991.98px) {
  .homeNav {
    display: none;
  }
}
