.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title {
  text-align: center;
  margin-top: 10px;
  color: rgb(26, 188, 156);
  font-weight: bold;
}

@media screen and (max-width: 991.98px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
}
